<link rel="stylesheet" type="text/css" href="styles/blackjack.css">

<h1>
Blackjack
</h1>

<%
suit = [
	"<div class='black palo'>&clubs;</div>",
	"<div class='red palo'>&diams;</div>",
	"<div class='red palo'>&hearts;</div>",
	"<div class='black palo'>&spades;</div>",
]
%>

<div class="mesa">
	<% for card in @@game.player.hand do %>
		<div class="card">
			<%=	suit[card.suit] %> 
			<div class="numero">
				<%= card.number %>
			</div>
		</div>

	<% end %>
</div>


<h2>
Total: <%= @@total %>
</h2>
<% if not @resultado %>
	<a class="boton" href='/pedir'>Pedir</a>
	<a class="boton" href='/plantarme'>Plantarme</a>
<% end %>
<h3>
<%= @resultado %>
</h3>
<a href='/blackjack'>Juego nuevo</a>
