<link rel="stylesheet" type="text/css" href="styles/blackjack.css">

<h1>
Blackjack
</h1>
<h2>
Total: <%= @@total %>
</h2>
<a class="boton" href='/pedir'>Pedir</a>
<a class="boton" href='/plantarme'>Plantarme</a>
<h3>
<%= @resultado %>
</h3>
<a href='/blackjack'>Juego nuevo</a>
