*{
	font-family:arial;
	font-size:	26px;
	font-weight: bold;
	float: left;
	width: 100%
}


.black , .black + div{
	color: black;
	
}

.red , .red + div{
	color: red;
}


.boton{
    background-color: blue;
	color: white;
    width: auto;
    padding: 10px;
    border-radius: 6px;
	text-decoration: none;
	margin-right: 20px;
}

.card{
	padding : 7px;	
	border : 2px black solid;
	border-radius: 5px;
	width: 60px;
	height: 90px;
	margin: 10px;
	background-color: white;
}
.palo{ 
	float: right; 
	width: auto;
	font-size: 32px;
}
.numero{
	width: 100%;
	float: left;
	text-align: center;
}
.mesa{
	height: 240px;
	background-color: green;
	margin: 0 auto;
	width: 80%;
	padding: 4%;
	border: 5px solid black;
	border-radius: 5px;
}
.blank-card{
	background-color: grey;
}
#croupier{
	margin: auto 0;
	float: left;
	width: auto;
}
